@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
:root{
  --primary-white: #fff;
  --primary-orange: #f9ab00; 
  --primary-dark: rgba(255, 255, 255, 0);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
}

*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;

}

::-webkit-scrollbar{
  display: none;
}

.App {
  text-align: center;
}
body{
  font-family: 'roboto condensed', sans-serif;
  letter-spacing: 2px;
}


.header-wraper {
  position: relative;
  background: url(asserts/workplace.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.main-info{
  margin-top: 20px;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
   
}
.main-info h1 {
  color: var(--primary-orange);
  text-transform: uppercase;
  margin: 0 auto;
  font-size: 30px;
}
.main-info h5{
  margin: 10px;
  font-size: smaller;
  color: var(--primary-orange);
  text-transform: uppercase;
  letter-spacing: 2px;
}
.hello{
  font-weight:600
}

.typed-text{
  font-size: 2rem;
  color: var(--primary-white );
}
.btn-main-offer{
  text-transform: uppercase;
  border-radius: 10px;
  border: 1px solid var(--primary-orange);
  padding: 0.625rem  0.75rem 0.75rem 0.75rem ;
  color: var(--primary-white);
  margin: 2rem;
  text-decoration: none;
  transition: .3s ease-in-out;

}
.tsparticles-canvas-el{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}  
.btn-main-offer:hover{
  color: var(--primary-orange);
  border: 1px solid transparent;
}
.btn-main-offer:active{
  color: var(--primary-white);
  transition: 0s;
  border: none;
}


html{
  scroll-behavior:smooth;
}

/* section{
  margin-top: 8rem;
} */
section > h2, section > h5{
  text-align: center;
  color: var(--primary-orange);

}
section > h2{
  margin-bottom: 3rem;
}
.btn-cv{
  text-transform: uppercase;
  border-radius: 0;
  border: 1px solid var(--primary-orange);
  padding: 0.625rem  0.75rem 0.75rem 0.75rem ;
  color: var(--primary-white);
  margin: 2rem;
  text-decoration: none;

}

img{
  display: block;
  width: 100%;
  object-fit: cover;
}

.btn-main-offer2{
  text-transform: uppercase;
  border-radius: 10px;
  padding: 0.625rem  0.75rem 0.75rem 0.75rem ;
  color: var(--primary-white);
  margin: 2rem;
  text-decoration: none;
  background-color: #54482d;
  transition: .3s ease-in-out;
  

}

.btn-main-offer2:hover{
  background-color: transparent;
  color: #f9ab00;
  transition: .3s ease-in-out;
}
.btn-main-offer2:active{
  background-color: #54482d;
  color: var(--primary-white);
  transition: 0s;
}
.me{
  width: 22rem;
  background-color:linear-gradient( #ffef3c, transparent);
  height: 30rem;
  overflow: hidden;
  padding-bottom: 0;
  margin-top: -30px;
  margin-bottom: 20px;
  
}
.me img{
  opacity: 0.9;
}

.header_socials{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;

}
.header_socials::after{
  content: "";
  width: 1px;
  height: 2rem;
  background-color: #f9ab00;
}

.scroll_down{
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight:bolder;
  font-size: 0.9rem;
  color: #f9ab00;
  text-decoration: none;
}
.header_socials a{
  color: #f9ab00;
}

.header_socials a:hover{
  color: #54482d;
}
.scroll_down:hover{
  color: #54482d;
}

nav{
  background-color: rgba( 0, 0, 0, 0.3);
  width: max-content;
  display: block;
  padding:0.7rem 1.7rem;
  z-index: 2;
  position: fixed;
  top: 90vh;
  left: 50vw;
  transform: translateX(-50%);
  display: flex;
  gap: 0.8rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px );


}
nav a{
  background: transparent;
  padding: 0.112rem;
  color: #f9ab00;
}
nav a:hover{
  color:#54482d;
}
.active{
  color: #251a03;
}



.about_container{
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 15%;  
}

.about_me{
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 2rem;
  background: linear-gradient(
    45deg,
    transparent,
    rgb(243, 191, 93),
    transparent
  );
  display: grid;
  place-items: center;
}

.about_me-image{
  border-radius: 2rem;
  overflow: hidden;
  transform: rotate(10deg);
  transition: 0.5s ease-in-out;
}

.about_me-image:hover{
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
}
.ctn{
  margin-bottom: 10px;
}
#about{
  padding: 2rem;
}
.about_cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  

}
.about_card{
  background-color: rgb(243, 191, 93);
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  transition: 0.3s ease-in-out;
}
.about_card:hover{
  background: transparent;
  border-color: rgb(243, 191, 93);
  cursor: default;
}

.about_icon{
  color: #54482d;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
.about_icon h5{
  font-size: 0.95rem;
}
 
.about_card small{
  font-size: 0.7rem;
  color: #54482d;
}
.about-content p{
  margin: 2rem 0 2.6rem;
}

.experince_container{
  display: grid;
  grid-template-columns:  1fr;
  gap: 2rem;
}
.experince_container > div{
  background-color: rgb(243, 191, 93);
  padding: 2.4rem;
  border-radius: 2rem;
  border: 1px solid transparent; 
  transition: 0.3s ease-in-out;
  align-items: center;
 


}
.experince_container > div:hover{
    background: transparent;
    border-color:#f9ab00;
}
.experince_container > div h3{
  text-align: center;
  margin-bottom: 2rem;
  color:#54482d;

}
#experiences .experience_content{
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  align-content: center;
  gap: 20px;

}
.experience_details{
  -webkit-box-flex: 0;
  -ms-flex: 0 0 68%;
  flex: 0 0 68%;
  max-width: 68%;
  
}
.expire_info{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.expire_info h4, .expire_info small{
  font-weight: 600;
  line-height: 22px;
  opacity: 1;
  -webkit-animation: showText 0.5s 1s linear forwards;
  animation: showText 0.5s 1s linear forwards;
}
.progress-line{
  margin-top: 7px;
  height: 10px;
  margin-bottom: 10px;
  width: 100%;
  background-color: #d0bd94 ;
  border-radius: 50px;
  position: relative;
}
.progress-line span {
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left;
  transform-origin: left;
  -webkit-animation: animate 0.5s cubic-bezier(1, 0, 0.5, 1) forwards;
  animation: animate 0.5s cubic-bezier(1, 0, 0.5, 1) forwards;
  height: 100%;
  border-radius: 50px;
  position: absolute;
  background-color: #2b2a20;
  transition: .3s all;


}
.progress-line span.animate{
  -webkit-animation: animate 0.5s 0.5s cubic-bezier(1, 0, 0.5, 1) forwards;
  animation: animate 0.5s 0.5s cubic-bezier(1, 0, 0.5, 1) forwards;
}
@-webkit-keyframes showText{
  100%{
    opacity: 1;
  }
}
@keyframes showText{
  100%{
    opacity: 1;
  }
}
@-webkit-keyframes animate{
  100%{
    -webkit-transform: scaleX(1);
  transform: scaleX(1);
  }
}
@keyframes animate{
  100%{
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
.experience_details-icon{
  margin-bottom: 10px;
  color: #54482d;
}
#experiences{
  background-color: #fcf7bc;
  padding: 2rem;
  position: relative;
  
}
.container{
  margin: 0 auto;
}

#services{
  position: relative;
  background: url(asserts/Ink.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  padding: 2rem;

}
.service_list{
  color: #f9aa00;
  padding: 2rem ;
  font-weight: 600;
}
.service_list li{
  display: flex;
  gap: 1rem;
  margin-bottom: 0.8rem;
}
.service_list p{
  font-size: 0.9rem ;
}
.service_head{
  color:#f9ab00;
}
.service_list-icon{
  margin-bottom: 2px;
}
.services_container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.service{
  background: #2f291c;
  border-radius: 0 0 2rem 2rem;
  border: 1px solid transparent;
  height: fit-content;
  transition: 0.3s ease-in-out;
  margin-top: 20px;
  
}
.service:hover{
  background: #120d01;
}
.service_head{
  background: #e2dc9b;
  padding: 1.5rem;
  border-radius: 0 0 2rem 2rem;
  box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
}
.service_head h3{
  color:#251a03;
  font-size: 1rem;
  text-align: center;
} 
.service_list-icon{
  margin-top: 2px;
}
.portfolio_container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}
.portfolio_item{
  background:#faca64;
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: 0.3s ease-in-out; 

}
.portfolio_item:hover{
  border-color: #faca64;
  background: transparent;
}
.portfolio_item > a{
  border: 1px solid #f9ab00;
}
.portfolio_item-image{
  border-radius: 1.5rem;
  overflow: hidden;
}
.portfolio_item h3{
  margin: 1.2rem  0 2rem; 
  
}
.portfolio_item-cta{
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
.cat{
  border: 1px solid #f9ab00;
  transition: 0.3s ease-in-out;
}
#work{
  padding: 2rem;
}
#contacts{
  padding: 40px;
}
.container.contact_container{
  width: 58%;
  display: grid;
  grid-template-columns:30% 58% ;
  gap: 12%;
}
.contact_options{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.contact_option{
  background: #f9ab00;
  padding:1.2rem  ;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  transition: 0.3s ease-in-out;
}
.contact_option:hover{
  background-color: transparent;
  border-color: #f9ab00;
}
.contact_icon{
  font-size: 1.5rem;
  margin-bottom: 0.5rem ;
}
.contact_option a{
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
  color: #120d01;
  text-decoration: none;

}
.contact_option a:hover{
  color: #f9ab00;
}
form{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
input, textarea{
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid #f9ab00;
  resize: none;
}
footer{
  background: #120d01;
  color: #f9ab00;
  padding: 3rem 0;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 7rem;
}
footer a{
  color: #f9ab00;
  text-decoration: none;

}
footer a:hover{
  color: #353330;
}
.footer_logo{
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  display: inline-block;

}
.permalinks{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 3rem;
}
.footer_socials{
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 4rem;
}
.footer_socials a{
  background-color: #f9ab00;
  color: #120d01;
  padding: 0.8rem;
  border-radius: 0.7rem;
  display: flex;
  border: 1px solid transparent;
}
.footer_socials a:hover{
  background-color: #120d01;
  color: #f9ab00;
}
.footer_copyright{
  margin-bottom: 4rem;

}
.process_card{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  text-align: center;
}
.process_card-icons{
  padding: 3.5rem;
  border-radius: 1.5rem;
  border: 1px solid #dab46c;
  margin: 1.5rem;
}
.process_details{
  text-align: center;
}
.process_icon{
  font-size: 2rem;
  color: #daa645;
}
.resume_cards{
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
}
.maseno_logo{
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  justify-content: center;
}
.maseno{
  width: 10%;
}
.resume_education{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}
.resume{
  text-align: center;
  padding: 20px;
}
.resume_card h5, .resume_card > p {
  color: #f9ab00;
}
.resume span{
  color: #f9ab00;
}
.resume_education-cards > p{
  font-weight: 900;
  color: #593e03;
}
.resume_education-cards{
  border-bottom: 1px solid #593e03;
  
}
.resume_course{
  margin-top: 20px;
}
.process_details{
  background-color: #382701;
  padding: 2rem;
  color: #f9ab00;
}
.portfolio-card{
  position: relative;
}
.portfolio-card:hover{
  cursor: pointer;
  
}



@media (max-width:1024px){
  .about_container{
    grid-template-columns: 2fr;
    gap: 0;
  }
  .about_me{
    width: 50%;
    margin: 2rem auto 4rem;
  }
  .me{
    width: 50%;
  }
  .about-content p{
    margin: 1rem 0 1.5rem;
  }
  /* .about_cards{
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  } */
  .experince_container{
    grid-template-columns: 1fr;
  }
  .about_container > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }
  
  .experience_content{
    padding: 1rem;
  }
  .services_container{
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .service{
    height: auto;
  }
  .portfolio_container{
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
  .container.contact_container{
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .process_card{
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
  .resume_cards{
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr;
  }

 
}

@media(max-width:768px){
  .tsparticles-canvas-el{
display: none;
  }
  .main-info h1{
    font-size: 1.7rem !important;
      }
  .typed-text{
    font-size: 1.4rem !important
  }
  .ctn{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .scroll_down{
    display: none;
  }
  .header_socials a, .header_socials::after{
    display: none;
  }
   
  .about_me{
    width: 65%;
    margin: 0 auto 3rem;
  }
  .about_cards{
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
  }
  .about-content{
    text-align: center;
  }
  .about-content p{
    margin: 1.5rem;
  }
  .me{
    width: 50%;
  }
  .experince_container{
    gap: 1rem;
    
  }
  .experince_container > div{
    width: 100%;
    padding: 0.3rem 0.1rem;
    
  }
  .services_container{
      grid-template-columns: 1fr;
      gap: 1.5rem;
  }
  .portfolio_container{
    grid-template-columns: 1fr;
    gap: 1rem;
  
  }
  .permalinks{
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    margin-right: 3rem;

  }
  .process_card{
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }

  
}
@media(max-width:660px){
  .me{
  
    width: 50%;
  }
  .about_me{
    width: 65%;
    margin: 0 auto 3rem;
  }
  /* .about_cards{
    display: flex;
    flex-direction: column;
  } */
  .about-content{
    text-align: center;
  }
  .about-content p{
    margin: 1.5rem;
  }
  .about_card{
    padding: 0.5rem;
  }
  .experince_container{
    gap: 1rem;
    
  }
  .experince_container > div{
    width: 100%;
    padding: 0.3rem 0.1rem;
    
  }
  .process_card{
    display: flex;
    flex-direction: column;
  }
  
}